* {
    box-sizing: border-box;
}

#encabezado {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    z-index: 2;
}



#piedepagina { 
    color: white;
    position: relative;
    z-index: 2;
}

#texto_blanco { 
    position: relative;
    align-items: center;
    justify-content: center;
    color: white;
}

.logo {
    width: 550px;
    height: auto;
}

#posicion_2 {
    width: 90%;
    max-width: 1200px;
    margin: auto;

    padding: 2rem;
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;
    gap: 3rem;
}

#navBar_posicion2 {
    position: relative;
    z-index: 2;
}


.logo2 {
    font-family: "Audiowide", sans-serif;

    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 3px;

    color: #00eaff;

    text-shadow:
        2px 2px 0 #ff00b7,
        4px 4px 0 #7700ff,
        0 0 10px #00eaff,
        0 0 25px #ff00b7;
}



.video_fondo {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

body::before {
    content: ""; /*Solo para asegurarse que el elemento exista*/
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    pointer-events: none; /*Para que no se le puede hacer clic*/
}

